:root {
    --primary: #008d93;
    --primary-light: #9ec1c9;

    --secondary: #ededed;
    --secondary-dark: #badfdc;

    --danger: #820040;
    --danger-light: #b1005a;

    --warrning: #820040;
    --warrning-light: #b1005a;

    --info: #005461;
    --info-light: #007481;

    --success: #48b9b2;
    --success-light: #badfdc;
}