<header>
    <img id="logo" src="assets/img/logo-al-tabib.png">
    <div class="account-drop-drow">
        <img src="assets/img/user-avatar.png" class="avatar">
    </div>
    <ul class="h-nav">
        <li>
            <a class="nav-link active">Home</a>
        </li>
        <li>
            <a class="nav-link">Pour les praticiens</a>
        </li>
        <li>
            <a class="nav-link">Pour les patients </a>
        </li>
        <li>
            <a class="nav-link">Nous contacter </a>
        </li>
    </ul>

</header>