.dashboard-container {
    display: inline-block;
    width: 100%;
    background-color: red;
    height: 100%;
    margin: 0px;

    main {
        width: 90%;
        background-color: black;
    }
}